<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Index</title>

</head>
<body>

<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="card bg-light">
                    <div class="card-header text-center fs-4">Welcome To User Management App</div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>